<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Добро пожаловать в нашу организацию (<%= @organization.name %>)</h1>
<p>
  Мы рады приветствовать вас <%= @user.email %>.<br>
</p>
<p>Чтобы добавиться в группу, вам нужно перейти по ссылке ниже:</p>
<%= link_to 'Группа', confirm_organization_url(user_id: @user.id, id: @organization.id) %>
<p>Спасибо, что выбрали нас!</p>
</body>
</html>
